@model TwitterBackup.Web.Models.FavouriteTweetersViewModels.FavouriteTweetersViewModel

@{
    ViewData["Title"] = "FavouriteTweeters";
}

<h2>FavouriteTweeters</h2>

@*<input name="Search" class="form-control" value="@Model.SearchScreenName" />
<button type="button" class="btn btn-info" asp-controller="AddFavouriteTweets" asp-action="AddFavouriteTweets">Search</button>*@
    
<form asp-controller="AddFavouriteTweets" asp-action="AddFavouriteTweets" method="get">
    <div id="searchBar">
        <input name="ScreenName" class="form-control" rows="1"></input>
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</form>

<br/>
        
@foreach (var item in Model.TweeterViewModels)
{
    await Html.RenderPartialAsync("Tweeter", item);

    foreach (var tweetViewModel in item.Tweets)
    {
        await Html.RenderPartialAsync("Tweet", tweetViewModel);
    }
}