@model IEnumerable<TwitterBackup.Web.Models.FavouriteTweetersViewModels.FavouriteTweeterViewModel>

@{
    ViewData["Title"] = "FavouriteTweeters";
}

<h2>FavouriteTweeters</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("Tweeter", item);

            foreach (var tweetViewModel in item.Tweets)
            {
                await Html.RenderPartialAsync("Tweet", tweetViewModel);
            }
        }
    </tbody>
</table>
