@model TwitterBackup.Web.Models.FavouriteTweetersViewModels.TweetViewModel

<div class="tweet">
    <a href="https://twitter.com/i/web/status/@(Model.Id)">
        <p>
            @Model.Text
        </p>
    </a>
</div>