@using TwitterBackup.Web.Areas.Admin.Models.Users
@model TwitterBackup.Web.Areas.Admin.Models.Users.ListUsersViewModel

<br />
<br />

@{
	ViewData["Title"] = "User Management";
}

<h1>@ViewData["Title"]</h1>

<br />

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Username
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.Users)
		{
		<tr>
			<td>
				@user.UserName
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete", "Users", new { userId = user.Id, userName = user.UserName }, new { @class = "btn btn-info" })
			</td>
		</tr>
		}
	</tbody>
</table>